@model AmpsBlog.Models.Post

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    @Html.DisplayFor(model => model.Author.FullName)
    @Html.DisplayFor(model => model.DateCreated)
    <hr>
    <div>
        @{ var myHtmlString = new HtmlString(Model.Content);}
        @myHtmlString
    </div>
    <hr>
    @Html.DisplayFor(model => model.PostStatus.Status)
    @Html.DisplayFor(model => model.Tags)
</div>

<p>
    
    
        <!--<a asp-action="Edit" asp-route-id="@Model.PostId">Edit</a> <span>|</span>-->
    <a asp-action="Index">Back to List</a>
</p>
