@model IEnumerable<AmpsBlog.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<p>
    @if(User.IsInRole("Author"))
    {
        <a asp-action="Create">Create New</a>
    }

</p>
@foreach (var item in Model)
{
<div>
    <h1><a asp-action="Details" asp-route-id="@item.PostId">@Html.DisplayFor(modelItem => item.Title)</a></h1>
    <h4>@Html.DisplayFor(modelItem => item.Author.FullName)</h4>
    <h4>@Html.DisplayFor(modelItem => item.DateCreated)</h4>
    <p>@Html.DisplayFor(modelItem => item.Content)</p>
    <div>
        @{ var myHtmlString = new HtmlString(item.Content);}
        @myHtmlString
    </div>
</div>
<hr>
}

