@model IEnumerable<AmpsBlog.Models.Post>

@{
    ViewData["Title"] = "List";
}

<h2>Posts</h2>

<div class="text-right">
    <a class="btn btn-default" asp-action="Create">
        <span class="glyphicon glyphicon-pencil"></span>
        Create New Post
    </a>
</div>
<br/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.PostId">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostStatus.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>

            <td>
                @if (User.Identity.Name == item.Author.Email || User.IsInRole("Admin"))
                {
                    if (User.Identity.Name == item.Author.Email)
                    {
                        <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> <span>|</span>
                    }

                    <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                }
            </td>
        </tr>
    }
</table>




